@font-face {
  font-family: 'Roboto';
  src: local('Roboto-VariableFont'), url('../fonts/Roboto-VariableFont.ttf') format('ttf');
  font-weight: 1 1000;
  font-stretch: 50% 100%;
  font-display: swap;
}
