@use './_index' as *;

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: $padding;
  background-color: $color-white;
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    img {
      transform: translateY(4px);
    }
    h1 {
      font-size: 30px;
      margin: 0;
      color: $color-accent-2;
    }
  }
}


// logout modal
.header-wrapper .btn-logout {
  border: 0;
  background-color: transparent;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .modal {
    position: relative;
    background-color: white;
    margin-inline: $padding-small;

    border-radius: $border-radius;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    .modal-actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: $padding-small;
      p {
        padding-right: 70px;
        padding-bottom: 20px;
      }

      .full-width {
        width: 100%;
      }
      .btn-cancel {
        background-color: transparent;
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
      }
    }
  }
}
