@use './_index' as *;

.loader-wrapper {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-loader {
  height: 100%;
  display: flex;
  align-items: center;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-select:focus {
  outline: none !important;
}

.btn-download-to-cache .loader-wrapper {
  transform: scale(0.3);
}
.btn-download-to-cache:hover .loader-wrapper circle {
  stroke: $color-white;
}

svg.loader {
  position: relative;
  width: 100px;
  height: 100px;
  margin-block: 50px;
  animation: rotate-loader 1s linear infinite;
}
svg.loader circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 8;
  stroke: $color-accent-2;
  stroke-linecap: round;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: animate-loader 2s linear infinite;
}
@keyframes rotate-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loader {
  0%, 100% {
    stroke-dashoffset: 440;
  }
  50% {
    stroke-dashoffset: 0;
  }
  50.1% {
    stroke-dashoffset: 880;
  }
}