@use './_index' as *;


// login page
.app:has(.login-wrapper) header {
  background-color: $color-accent-2;
  img {
    filter: grayscale(1) brightness(0) invert(1);
  }
}
.main-wrapper:has(.login-wrapper) {
  background-color: $color-accent-2;
  height: 100%;
  h1, h2 {
    color: $color-white;
  }
}
.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-inline: $padding;
  h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 369px) {
    h2 {
      font-size: 26px;
    }
  }
}

.offline-message {
  position: fixed;
  bottom: 70px;
  right: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: #9a0707;
  color: white;
  z-index: 1000;
}
main:has(.login-wrapper) ~ .offline-message {
  bottom: 0;
}