$color-accent-1: #F98128;
$color-accent-2: #34499a;
$color-main: #ffffff;
$color-white: #ffffff;
$color-black: #2a2a2a;
$color-section: #eff3fa;

$font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;

$filter-accent-2: invert(27%) sepia(22%) saturate(3191%) hue-rotate(201deg) brightness(91%) contrast(88%);

$padding: 30px;
$padding-small: 20px;

$border-radius: 4px;

$input-height: 45px;

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}
.center-horizontally {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background {
  background-image: linear-gradient(135deg, rgba(244, 244, 244,0.07) 0%, rgba(244, 244, 244,0.07) 12.5%,rgba(211, 211, 211,0.07) 12.5%, rgba(211, 211, 211,0.07) 25%,rgba(178, 178, 178,0.07) 25%, rgba(178, 178, 178,0.07) 37.5%,rgba(145, 145, 145,0.07) 37.5%, rgba(145, 145, 145,0.07) 50%,rgba(113, 113, 113,0.07) 50%, rgba(113, 113, 113,0.07) 62.5%,rgba(80, 80, 80,0.07) 62.5%, rgba(80, 80, 80,0.07) 75%,rgba(47, 47, 47,0.07) 75%, rgba(47, 47, 47,0.07) 87.5%,rgba(14, 14, 14,0.07) 87.5%, rgba(14, 14, 14,0.07) 100%),linear-gradient(45deg, rgba(236, 236, 236,0.07) 0%, rgba(236, 236, 236,0.07) 12.5%,rgba(210, 210, 210,0.07) 12.5%, rgba(210, 210, 210,0.07) 25%,rgba(183, 183, 183,0.07) 25%, rgba(183, 183, 183,0.07) 37.5%,rgba(157, 157, 157,0.07) 37.5%, rgba(157, 157, 157,0.07) 50%,rgba(130, 130, 130,0.07) 50%, rgba(130, 130, 130,0.07) 62.5%,rgba(104, 104, 104,0.07) 62.5%, rgba(104, 104, 104,0.07) 75%,rgba(77, 77, 77,0.07) 75%, rgba(77, 77, 77,0.07) 87.5%,rgba(51, 51, 51,0.07) 87.5%, rgba(51, 51, 51,0.07) 100%),linear-gradient(90deg, #ffffff,#ffffff);
}

@for $i from 1 through 20 {
  .pt-#{$i} {
    padding-top: #{$i * 0.25}rem;
  }
}

@for $i from 1 through 20 {
  .pb-#{$i} {
    padding-bottom: #{$i * 0.25}rem;
  }
}

@for $i from 1 through 20 {
  .mt-#{$i} {
    margin-top: #{$i * 0.25}rem;
  }
}

@for $i from 1 through 20 {
  .mb-#{$i} {
    margin-bottom: #{$i * 0.25}rem;
  }
}
